* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

  font-family: "Quicksand", sans-serif;
}

.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.upper_container {
  height: 50px;
  background-color: #fff2f0;
}

.upper_nav {
  margin: 0 25px;
  padding: 15px 0;
}

.upper_nav a {
  margin: 0 6px;
  font-size: 14px;
  font-weight: 500;

  color: #333333;
}

.upper_nav_left a:first-child {
  border-bottom: 4px solid #6d3078;
  padding: 11px 11px;
}
.lower_container {
  padding: 25px;
  height: 120px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
 
}

.lower_nav {
  margin: 0 25px;
}

.lower_nav_center a {
  margin: 0 20px;
  font-weight: 700;
  padding: 0 10px;

}

.make_payment_btn {
  margin-right: 5px;
  padding: 12px 10px;
  border-radius: 5px;
  background-color: transparent;
  color: #f37435;
  border: none;
  border: 1px solid #f37435;
  font-weight: 600;

  font-size: 16px;
}
.btn_type_1 {
  margin-right: 8px;
  padding: 10px 15px;
  border-radius: 5px;
  background-color: #f37435;
  color: #fff;
  border: none;
  border: 2px solid #f37435;
  font-weight: 600;
  line-height: 17.76px;
  font-size: 15px;
}

.lower_nav_left img {
  width: 100px;
  margin-right: 30px;
  margin-bottom: 3px;
}

.lower_nav_right i {
  font-size: 19px;
  margin-right: 10px;
}
.carousel{

  margin-top: 2px;
}
.carousel-cell {
  width: 100%;
}

.flickity-page-dots {
  bottom: 10px;
}

.flickity-page-dots .dot {
  background-color: #f37435;
}

.annoucement_container {
  margin-top: 5px;
  height: 75px;
  padding-top: 18px;
  background-color: #fceeff;
}

.annoucement_content {
  width: 74%;
  height: 70%;
  margin: 0 auto;
  padding-top: 8px;

  background-color: #6d3078;
  color: #fff;
  font-weight: 600;

  border-radius: 25px;
}

.annoucement_content i {
  margin: 0 25px;
  color: gold;
  font-size: 20px;
}

.latest {
  color: #fbad86;
  font-weight: 700;
  animation: blinker 1.9s ease-in infinite;
}

@keyframes blinker {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.7;
  }
  100% {
    opacity: 0;
  }
}

.special_cat_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.special_cat_opt {
  margin-top: 80px;

  display: flex;
}
.cir {
  margin-right: 55px;
  border-radius: 50%;
  background-color: #fff2f0;
  width: 180px;
  height: 180px;
  position: relative;
}
.cir img {
  position: absolute;
  top: 44px;
  right: 44px;
}

.special_cat h3 {
  font-weight: 400;
  font-size: 40px;
}
.cir h1 {
  margin-top: 200px;
  font-size: 16px;

  color: #6d3078;
  letter-spacing: 3px;
  text-align: center;
}
.section_2 {
  width: 100%;
  margin-top: 100px;
  height: 450px;

  background-color: #fceeff;
}

.section_2_container {

  padding: 20px 0;
    width: 50%;
    
  
    display: flex;
    margin: 0 auto;
  justify-content: space-between;
    align-items: center;
    
    
    
    
    
}



.section_2_container {
    flex-basis: 50%;
  width:60%;
}

.section_2_container_left h3{

    margin-bottom: 54px;
    line-height: 34px;
    font-weight: 600;
    font-size: 30px;
}


footer{

  background-color: #333333;
  color: #fff;
}

footer h1{

  text-align: center;
  margin-bottom: 35px;
  color: #fbad86;
}

.contact_us_section{
display: flex;
justify-content: space-around;
align-items: center;
padding-bottom: 35px;
}

.contact_cir{
width: 60px;
height: 50px;
  border-radius: 50%;
  border: 1px solid #fff;
  position: relative;
}

.contact_cir i{

  position: absolute;
  left: 20px;
  top: 10px;

}


.address{

  display: flex;
  justify-content:flex-start;
  align-items: center;
  margin-bottom: 15px;

  transition: all 0.5s;

}
.address:hover{

  color: #f37435;
}

.contact_cir{

  margin-right: 10px;
}